<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="FATAL" />
    <param name="Encoding" value="UTF-8" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%5p][%d{yyyy-MM-dd HH:mm:ss}] %c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="Threshold" value="DEBUG" />
    <param name="Encoding" value="UTF-8" />
    <param name="File" value="../log/log.log" />
    <param name="Append" value="true" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%5p][%d{yyyy-MM-dd HH:mm:ss}] %c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="errfile" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="Threshold" value="ERROR" />
    <param name="Encoding" value="UTF-8" />
    <param name="File" value="../log/err.log" />
    <param name="Append" value="true" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%5p][%d{yyyy-MM-dd HH:mm:ss}] %c{1} - %m%n" />
    </layout>
  </appender>

  <root>
    <priority value="debug" />
    <appender-ref ref="logfile"/>
  </root>
</log4j:configuration>

